@import url('../components/popup/popup.css');
@import url('../components//header/header.css');
@import url('../components/body/body.css');
@import url('./global.css');

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Verdana";
  min-height: 100vh;
  font-size: 1.1rem;
}

.app {
  height: max-content;
  min-height: 100vh;
  background-color: rgba(223, 223, 223, 0.651);
}




table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

thead {
  font-size: 15px;
  color: rgb(206, 201, 201);
}

tbody {
  background-color: rgb(255, 255, 255);
}

td,
th {
  width: max-content;
  padding: 15px;
}

.table-row {
  border-bottom: 1px solid rgb(206, 201, 201);
}

.table-row__id {
  color: rgb(206, 201, 201);
}

.add-client__container {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.add-client__container__btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid rgb(191, 122, 255);
  color: rgb(191, 122, 255);
  cursor: pointer;
}

.add-client__container__btn-img {
  margin-right: 5px;
}

.add-client__container__btn-text {
}

