.container {
  width: 130px;
  height: 100%;

  border: none;
  appearance: none;
  /* добавляет кастомную стрелку для select */
  background: #E7E5EB url('./arrow_back.svg') no-repeat right;
  /* добавляет отступ для стрелки */
  background-position-x: calc(100% - 8px);

  padding: 10px;
}

.select__option {
  background-color: #F4F3F6;
}